/* Adjust icon size */
.toggle-icon {
    font-size: 1.5rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Default light mode body */
body, html {
    font-family: 'Raleway', sans-serif !important;
    font-size: x-large;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #F5F9F2 !important;
    color: #1E3715 !important;
}

/* Default light mode navbar */
.navbar {
    background-color: #d1eac8;
    color: #1c252e;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-link {
    color: #719484 !important;
    transition: all .25s ease-in-out !important; 
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-link:hover {
    color: #1E3715 !important;
    text-shadow: #d2dae3 !important;
    font-size: 115%;
    font-weight: bolder;
}

/* Dark mode backgorund */ 
.dark-mode {
    background-color: #18191B !important;
    color: #E4E5E7 !important;
}

/* Dark mode navbar */
.dark-mode .navbar {
    background-color: #080d06; 
    color: #e4e5e7;
}

/* Dark mode links */
.dark-mode .navbar .nav-link {
    color: #ffffff;
}

/* Dark mode links on hover */
.dark-mode .navbar .nav-link:hover {
    color: #dddddd; 
}

/* Dark mode toggle icon color */
.dark-mode .toggle-icon i {
    color: #ffffff;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.about-container, .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    max-height: none;
    padding: 0;
}

/* Style headshot */
#beatrice-headshot {
    height: 750px;
    border: 10px solid #719484;
    border-radius: 1000px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode #beatrice-headshot {
    height: 750px;
    border: 10px solid #81AFD9;
    border-radius: 1000px;
}

#beatrice-graduation, #beatrice-logo, #beatrice-pc {
    height: 360px;
    border: 10px solid #719484;
    border-radius: 500px;
}

#home-screen, #about-screen, #experience-screen, #projects-screen {
    height: calc(100vh - 89px);
    width: 100vw;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    scroll-margin-top: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-screen {
    background-color: #D8E0D0;
}

#introduction, #academics, #etsy, #hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

#headshot, #grad-pic, #etsy-logo, #hobby-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction-text, #academics-text, #etsy-text, #hobbies-text, #about-dev-mission, #about-lfi, #about-lbnl {
    background-color: #FDFCFC;
    padding: 20px;
    border: 10px solid #719484;
    border-radius: 50px;
    box-sizing: boder-box;
}

#about-dev-mission, #about-lfi, #about-lbnl {
    width: 100vh;
    padding: 10px;
}

.skill-label, #resume-button, .view-button {
    margin: 0;
    background-color: #1E3715 !important;
    color: #FDFCFC !important;
    border-radius: 50px !important;
}

.skill-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: normal;
}

#accordionExample {
    max-width: 80%;
    min-width: 2048px; /* Set the maximum width for the accordion */
    width: 100%; /* Ensure it is responsive */
    margin: 0 auto; /* Center it horizontally */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in the total width calculation */
}

.card {
    height: auto; /* Set a fixed height for cards */
    margin: 10px; /* Adjust margin as needed */
    display: flex; /* Enable flexbox for card content */
    flex-direction: column; /* Stack card content vertically */
    justify-content: space-between; /* Space out the content evenly */
}

.card-title {
    overflow: hidden; /* Prevent overflow */
    white-space: normal; /* Allow the text to wrap */
    width: 100%; /* Make sure the title takes the full width */
    display: block; /* Make sure it's a block element */
}

.card-img-top {
    max-height: 300px; /* Keep the height consistent */
    object-fit: contain; /* Ensure the image scales down without being cropped */
    width: 100%; /* Stretch image to fill width */
}

