/* Adjust icon size */
.toggle-icon {
    font-size: 1.5rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Default light mode body */
body, html {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #F5F9F2 !important;
    color: #1E3715 !important;
}

/* Dark mode background */ 
.dark-mode {
    background-color: #18191B !important;
    color: #E4E5E7 !important;
}

/* Default light mode navbar */
.navbar {
    background-color: #d1eac8;
    color: #1c252e;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .navbar {
    background-color: #080d06; 
    color: #e4e5e7;
}

.nav-link {
    color: #719484 !important;
    transition: all .25s ease-in-out !important; 
}

/* Dark mode links */
.dark-mode .nav-link {
    color: #ffffff;
}

/* Add responsive styles */
.nav-link:hover {
    color: #1E3715 !important;
    text-shadow: #d2dae3 !important;
    font-size: 115%;
    font-weight: bolder;
}

/* Dark mode links on hover */
.dark-mode .nav-link:hover {
    color: #dddddd !important; 
}

/* Dark mode toggle icon color */
.dark-mode .toggle-icon i {
    color: #ffffff;
}

.row {
    width: 100%;
}

.about-container, .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjusts space between items */
    justify-content: center;
    max-height: none; /* Remove this if not needed */
    width: 90%; /* Set a width percentage to be responsive */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box; /* Include padding in total width */
}

/* Style headshot */
#beatrice-headshot {
    height: 50vw; /* Responsive height */
    max-height: 750px; /* Limit max height */
    border: 10px solid #719484;
    border-radius: 1000px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode #beatrice-headshot {
    border: 10px solid #81AFD9;
}

/* Responsive image sizes */
#beatrice-graduation, #beatrice-logo, #beatrice-pc {
    height: 25vw; /* Responsive height */
    max-height: 360px; /* Limit max height */
    border: 10px solid #719484;
    border-radius: 500px;
}

.dark-mode #beatrice-graduation, .dark-mode #beatrice-logo, .dark-mode #beatrice-pc {
    border: 10px solid #81AFD9;
}

/* Ensure each screen section fits the viewport exactly */
#home-screen, #about-screen, #experience-screen, #projects-screen, #contact-screen {
    height: calc(100vh - 89px);
    width: 100vw;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    scroll-margin-top: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-screen, #projects-screen {
    background-color: #D8E0D0;
}

.dark-mode #about-screen, .dark-mode #projects-screen {
    background-color: #0F0E0E;
} 

#introduction, #academics, #etsy, #hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headshot, #grad-pic, #etsy-logo, #hobby-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction-text, #academics-text, #etsy-text, #hobbies-text, #about-dev-mission, #about-lfi, #about-lbnl, .contact-container {
    background-color: #FDFCFC;
    padding: 1vw;
    border: 10px solid #719484;
    border-radius: 50px;
    box-sizing: border-box;
}

.dark-mode #introduction-text, .dark-mode #academics-text, .dark-mode #etsy-text, .dark-mode #hobbies-text, .dark-mode #about-dev-mission, .dark-mode #about-lfi, .dark-mode #about-lbnl, .dark-mode .contact-container {
    background-color: #1C252E;
    border: 10px solid #81AFD9;
}

/* Cards and buttons */
.btn {
    margin: 0;
    background-color: #1E3715 !important;
    color: #FDFCFC !important;
    border-radius: 50px !important;
    transition: color 0.3s;
}

.dark-mode .btn {
    background-color: #81AFD9 !important;
}

.btn:hover {
    background-color:#719484 !important;
}

.dark-mode .btn:hover {
    background-color: #26537E !important;
}

.skill-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: normal;
}

#accordionExample {
    max-width: 80%;
    min-width: 80vw; /* Consider using responsive units */
    width: 100%; /* Ensure it is responsive */
    margin: 0 auto; /* Center it horizontally */
    padding: 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in the total width calculation */
}

.card {
    height: auto; /* Set a fixed height for cards */
    margin: 10px; /* Adjust margin as needed */
    display: flex; /* Enable flexbox for card content */
    flex-direction: column; /* Stack card content vertically */
    justify-content: space-between; /* Space out the content evenly */
}

.card-title {
    overflow: hidden; /* Prevent overflow */
    white-space: normal; /* Allow the text to wrap */
    width: 100%; /* Make sure the title takes the full width */
    display: block; /* Make sure it's a block element */
}

.card-img-top {
    max-height: 300px; /* Keep the height consistent */
    object-fit: contain; /* Ensure the image scales down without being cropped */
    width: 100%; /* Stretch image to fill width */
}

/* Social media icon */
.social-icon {
    color: #1E3715;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.dark-mode .social-icon {
    color:#81AFD9;
}

.social-icon:hover {
    color: #719484;
}

.dark-mode .social-icon:hover {
    color: #26537E;
}
